<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>527486386007-a0sna23peqjfel9sa4gqfm15ijql1phe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527486386007-a0sna23peqjfel9sa4gqfm15ijql1phe</string>
	<key>API_KEY</key>
	<string>AIzaSyBHC7tv3jZbANN_dxgX0931CBv--s2gsMA</string>
	<key>GCM_SENDER_ID</key>
	<string>527486386007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swap.co</string>
	<key>PROJECT_ID</key>
	<string>swap-94f8f</string>
	<key>STORAGE_BUCKET</key>
	<string>swap-94f8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527486386007:ios:1d42b4b6b8a38108</string>
	<key>DATABASE_URL</key>
	<string>https://swap-94f8f.firebaseio.com</string>
</dict>
</plist>